body {
    font: 300 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*color: red;*/
}
a {
    font-weight: 300;
}

.tag {
    /*border: 1px solid #d0d0d0;*/
    /*border-radius: 5px;*/
    /*padding: 7px 7px;*/
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
    min-width: 130px;

}
.tag_name{
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}
aside {
    /*margin-bottom: 300px;*/
}
.t-col-sm {
    width: 50px;
}

.t-col-md {
    width: 100px;
}
.article_msg {
    margin-top: 30px;
}
.row {
    margin-left: 0px;
    /*added new style*/
}