body {
    font: 300 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*color: red;*/
}
a {
    font-weight: 300;
}

.tag {
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
    min-width: 130px;

}
.tag_name{
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}


.row {
    margin-left: 0;
}


/*   articles section    */

.t-col-sm {
    width: 50px;
}

.t-col-md {
    width: 100px;
}
.article_msg:first-of-type {
    margin-top: 30px;
}
.article_img {
    width: 100%;
}
.image-img {
    padding-left: 0;
}
.article_img_upload {
    margin-top: 20px;
    margin-bottom: 10px;
}